@model Nobet

<div class="container mt-4">
    <h2>Detay göster</h2>
    <div class="card">
        <div class="card-header">
            <h3>@Model.Asistan.Ad</h3>
        </div>
        <div class="card-body">
            <p><strong>Date:</strong> @Model.Tarih.ToString("yyyy-MM-dd")</p>
            
 
            <p><strong>Assistant Email:</strong> @Model.Asistan.Eposta</p>
            <p><strong>Assistant Phone Number:</strong> @Model.Asistan.Telefon</p>
            <p><strong>Department:</strong> @Model.Bolum.BolumAdi</p>

        </div>
        <div class="card-footer">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
                <form asp-controller="Nobet" asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Nobeti sil</button>
                </form>
}          
            <a asp-action="Index" class="btn btn-primary">Listeye Dön</a>

        </div>
    </div>
</div>